.shop {
  padding-top: 50px;
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: minmax(200px, 1fr) minmax(320px, 1230px);
}

.sidebar__title {
  font-size: 18px;
  line-height: 21px;
  color: #2C2C2C;
  margin: 10px 0 0 0;
}

@media screen and (max-width:769px){
  .shop {
      grid-template-columns: 1fr;
  }
}
