.page {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #F9F9F9;
  min-height: 100vh;
  padding: 30px 35px 80px;
  box-sizing: border-box;
}

.page__container {
  max-width: 1650px;
  margin: 0 auto;
}
